body {
    background-color: #f8f9fa; 
    margin: 0;
    padding: 0;
    
  }
  
  #root {
    width: 100%;
  }

  .fondo-hero {
    background: url(../assets/img/fondo-hero.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

  }

  .logo-marca {
    width: 80px;
  }
  .nav-link{
    transition: all ease 0.3s;
  }
  .nav-link:hover {
    color: #0d6efd !important;
  }
